
.form-horizontal {
	width:550px;
}
.subject {
	padding-left: 10%;
}

.select {
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 80%;
	padding-bottom: 1%;
}

#titleDiv {

}

.bottom-bar {
	position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.table_head {
  background-color: #D8D8D8;
  border-radius: 25px
}
.table th{
   text-align: center;   
}
.table td{
   text-align: center;   
}

.sub_bar {
  border-radius: 25px;
  margin-left: 0;
  margin-right: 8%;
}
.data-row{
	cursor: pointer;
}

.subbar-btn {
	position: absolute;
	padding-left:129px;
	padding-top:0px;
	padding-bottom:0px;
	margin-left: 900px;
	margin-bottom: 0px;
	
}

.dropdown-toggle1 {
  padding:0px 5px;
}

.bottom-search {
	margin-top: 11%;
	padding-left: 20.5%;
	position: absolute;
	text-align: right;
}

.main_menu {
  margin-top: 1%;
}

.subbar_calendar {
	position: absolute;
	margin-left: 15%;
	margin-top: -0.4%;
}

#imgsize {
	width: 50px;
	
}

.userinfo {
	float : left;
	margin-top : 7px;
}

#page-selection {
position: absolute;
top: 122%;
left: 33%;
}


.bottom {
height: 70px;
overflow: hidden;
position: relative;
} 
.bottombody {
 background: #878787; 
}
.bottom_area {
width: 990px;
height: 70px;
margin: 0 auto;
}
.bottom_area li:first-child {
width: 380px;
padding-left: 4px;
}
.bottom_area li {
float: left;
width: 16%;
height: 60px;
padding: 0 10px;
margin-left: 13%;
}
.bottom_area li.nth2 {
width: 200px;
}
.bottom_area li span {
color: #e0e0e0; 
display: block;
padding-bottom: 2px;
font-weight: bold;
}
.bottom_area ul {
list-style: none;
font-size: 11px;
font-family: Dotum;
line-height: 13px;
letter-spacing: -1px;
color: #c0c0c0; 
padding: 15px 0;
display: block;
width: 990px;
}
html,body{height:100%; margin:0; padding:0;}

.container {
	min-height:100%;
	position:relative;
}

/* .container.header{
	height:70px;
} */
.content {
	margin-top:4%;
	height: 78%;
}
.footer {
	position:relative;
	top: 0px;
	width:1140px;
	
}

.tableform {
	position:relative;
	height:72%;
}

#totalDiv {
	margin-left:72%
}
