	<table id='deliveryTable' class="table table-striped table-hover">
	<thead>
		<tr class="table_head">
			<th>주문코드</th>
			<th>거래처명</th>
			<th>등급</th>
			<th>배송일자</th>
			<th>일총액</th>
			<th>배송상태</th>
			<th>메모</th>
		</tr>
	</thead>

	{{#each deliverys}}
	<tr class="data-row">
		<td>{{ocode}}</td>	
		<td>{{dname}}</td>
		<td>{{dgrade}}</td>
		<td>{{ddate}}</td>
		<td>{{sum_oprice}}</td>
		<td>{{del_stat}}</td>
		<td>{{omemo}}</td>
	</tr>
	{{/each}}

</table>
<script>
		
		
	$(document).on('click', '#deliveryTable tr', function(e) {

		$dname = $(this).find('td:eq(1)').html(); // 거래처명
		$ddate = $(this).find('td:eq(3)').html(); // 배송일자
		$dgrade = $(this).find('td:eq(2)').html(); 
		console.log("dgrade : " + $dgrade);
		/* console.log("dname:" + $dname);
		console.log("ddate:" + $ddate); */
		var currPageNo;
		var maxPageNo;
		$.post('../json/delivery2/title.do', {
			//서버에 보낼 데이터를 객체에 담아 넘긴다 
			dname : $dname,
			ddate : $ddate,
			dgrade : $dgrade,

		}, function(resultMap) {

			if (resultMap.dname != null && resultMap.ddate != null ) {
				dname = resultMap.dname;
				ddate = resultMap.ddate;
				dgrade = resultMap.dgrade;

				console.log("dname2 : " + dname);
				console.log("ddate2 : " + ddate);
				console.log("dgrade2 : " + dgrade);
				location.href = "../delivery2/app.html";
			} else {

			}
		}, 'json')
		//서버가 보낸 데이터를 JSON 형식으로 처리
		//서버 요청이 실패했을 때 호출될 함수 등록
		.fail(function(jqXHR, textStatus, errorThrown) {
			alert(textStatus + ":" + errorThrown);
		});
	});
</script>