@CHARSET "UTF-8";

#wrap {
	margin: 0 auto;
	width: 60%;
	font-family: sans-serif;
}

#checkPwd {
	margin-left: 23%;
}

#checkMsg {
	margin-left: 23%;
}

#checkcode {
	border: 1px solid red;
}

#result {
	/* border : 1px solid green; */
	float: center;
	margin-left: 23%;
}
/* #test0{
	border : 1px solid red;
}
#test1{
	border : 1px solid green;
}
#test2{
	border : 1px solid blue;
}
#test3{
	border : 1px solid orange;
} */
